*{
    max-width: 390px;
    margin: auto;
}

body{
    border: 3px solid blue;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(163, 163, 163);
    
}

.flex-collumn{
    display: flex;
    flex-direction: column;
}


